<h1>{{title}}</h1>
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/locations" routerLinkActive="active">Locations</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/fields" routerLinkActive="active">Fields</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/teams" routerLinkActive="active">Teams</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/trainers" routerLinkActive="active">Trainers</a>
  </li>
</ul>
<router-outlet></router-outlet>