<div *ngIf="locationObject">
  <h2 *ngIf="locationObject._id!=''">Edit Location</h2>
  <h2 *ngIf="locationObject._id==''">Add Location</h2>
  <form>
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" name="name" [(ngModel)]="locationObject.name">
    </div>
    <div class="form-group">
      <button class="btn btn-secondary" (click)="goBack()">Back</button>
      <button class="btn btn-primary" *ngIf="locationObject._id!=''" (click)="update()">Edit</button>
      <button class="btn btn-primary" *ngIf="locationObject._id==''" (click)="create()">Add</button>
      <button class="btn btn-danger" *ngIf="locationObject._id!=''" (click)="delete()">Delete</button>
    </div>
  </form>
</div>