<div *ngIf="team">
  <h2 *ngIf="team._id!=''">Edit Location</h2>
  <h2 *ngIf="team._id==''">Add Location</h2>
  <form>
    <div class="form-group">
      <label>Name</label>
      <input type="text" class="form-control" name="name" [(ngModel)]="team.name">
    </div>
    <div class="form-group">
      <label>Number of Trainings</label>
      <input type="number" min="1" step="1" class="form-control" name="nrOfTrainings" [(ngModel)]="team.nrOfTrainings">
    </div>
    <div class="form-group">
      <button class="btn btn-secondary" (click)="goBack()">Back</button>
      <button class="btn btn-primary" *ngIf="team._id!=''" (click)="update()">Edit</button>
      <button class="btn btn-primary" *ngIf="team._id==''" (click)="create()">Add</button>
      <button class="btn btn-danger" *ngIf="team._id!=''" (click)="delete()">Delete</button>
    </div>
  </form>
</div>